.someClass {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(79, 59, 151, 1);
}
.affairList{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: thistle;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.affairItem{
    padding: 3px 20px;
    width: 70%;
    margin-bottom: 7px;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
h3{
    margin: 0;
}
.buttons{
    width: 70%;
    padding: 3px 20px;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 70px;
    color: white;
    background-color: teal;
    border: 1px solid lightgreen;
    border-radius: 3px;
    cursor: pointer
}
p{
    margin: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.sorted{
    margin-top: 10px;
    padding: 3px;
    width: 60%;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
}
.sorted button{
    background-color: lightskyblue;
    border-radius: 20px;
    margin: 10px;
    
}
.Search{
    width: 60%;
    height: 40px;
    padding: 3px;
    border-radius: 3px;
    background-color: lightgreen;
    text-align: center;
}